{% extends "base.html" %}

{% block content %}

<!-- HERO -->
<section class="hero">

    <h1>
        <span class="gradient-text">Discover Your Talent</span>
    </h1>

    <h1>
        <span class="gradient-text">Build Your Future</span>
    </h1>

    <p>
        AI-powered employability platform helping students discover strengths,
        build skills, and connect with opportunities.
    </p>

    <button class="primary-btn">
        Start Talent Discovery
    </button>

</section>

<!-- MOCHI -->
<div class="mochi">
    🐱 Mochi
</div>

{% endblock %}